<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Your child can learn to code with Coding Kids. Join our in-school coding classes, after-school coding clubs, school holiday code camps or professional development for educators. </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Students build computer games, program robots, and design animations in a fun, authentic learning environment. Learning to code fosters a growth mindset because the learning process requires students to have a go and learn from mistakes.</p>
        </div>
    </body>
</html>
